.landing-page{
   background-image: url('../Assets/fe74a4d227873758d3f138e8ca2f9cbb.builld-cloud-header-glow.svg');
   background-repeat: no-repeat;
   background-color: #00084d ;
   background-size: cover;
   background-position: center;
   height:110vh;
   -webkit-clip-path: ellipse(100% 59% at 50% 40%);
   clip-path:ellipse(100% 59% at 50% 40%);
   overflow: auto;
}

.tag-size{
    color: #999;
    background-color: #999; 
    height: 1.5px; 
    border: none; 
}

.button-logoin{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}


.hero-section{
    text-align: center;
    color: white;
    margin-top:10rem;
    font-size:20px;
}
.text-learn{
   
    font-size:30px;
    font-weight:700;
}
.text-grow{
    margin-top: -20px;
    font-size:50px;
    font-weight:700; 
}
.text-build{
    margin-top: -30px;
    font-size:60px;
    font-weight:700;
}

.text-course-development{
    margin-top: -10px;
    font-weight:700; 
}
.button-unlock{
    color: rgb(0, 0, 0) !important;
    background: linear-gradient(270deg, rgb(255, 134, 137) 0px, rgb(201, 166, 255) 100%) !important;
    font-size:18px;
    font-weight:700;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 4rem 0rem;   
    transition: all .3s ease;
}

.button-unlock:hover{
    transform: scale(1.125);
    transition: all .3s ease;  
}