.lms-info {
  text-align: center;
  margin-top: 3rem;
}
.lms-info .why-lms {
  font-weight: bold; 
  font-size: 1.5rem; 
  margin-bottom:15px;  
  background: linear-gradient(232deg, #02e1e1, #41d271, #c6d94b);
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-clip: text;
}

.why-para-one{
  font-size: 2rem; 
  font-weight:800;
  padding-top: 10px;
}

.why-para-two{
  padding-top: 10px;
  font-size:17px;
  font-weight: 500;
 
}
  
/*first-brand*/

.logos-container-one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:30px;
  margin-top:100px;
}

.logo-item-one{  
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid rgba(225, 226, 230, .58);
  padding: 10px;
  width: 100px;
  margin-right: 10px;
  text-align: center;
}


.logo-image-one{
  max-width: 100%;
}



.scroll-width{
      width: clamp(140px, 20vw, 180px);
    /* height: 92px; */
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    padding: 0 30px;
}

  
 
/*secound brand*/
.logos-container-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:30px;
  margin-top:30px;
}

.logo-item-two{
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid rgba(225, 226, 230, .58);
  padding:10px;
  width:100px;
  text-align: center;
}

.logo-image-two{
  max-width:100%;
  max-height:5vh;
}
  
.stats-container {
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 20px;
  flex-wrap: wrap; 
}

.stat-item {
  text-align: center; 
  margin: 1rem; 
}

.stat-item strong {
  display: block;
  font-size:70px;
  background: linear-gradient(232deg, #02e1e1, #41d271, #c6d94b);
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-clip: text;
}

.para-tool {
  font-weight: 700;
  font-size: 16px;
}

/* Mobile view adjustments */

@media (max-width: 768px) {
  .stats-container {
    gap: 2rem; 
    flex-direction:center;
    align-items: center; 
  }

  .stat-item {
    margin: 1rem 0; 
  }

  .stat-item strong {
    font-size: 40px; 
  }

  .para-tool {
    font-size: 14px; 
  }
}




/*scroll container here */


@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.logos-container-one,
.logos-container-two {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.logos-container-one {
  animation: scroll-left 20s linear infinite;
}

.logos-container-two {
  animation: scroll-right 20s linear infinite;
}

.logo-item-one,
.logo-item-two {
  display: inline-block;
  margin: 0 10px;
}

.logo-image-one,
.logo-image-two {
  display: block;
}
