.Partners{
    background: #00084d;
}
.parent{
    background: white;
}
.curve{
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:30vh;
    -webkit-clip-path: ellipse(85% 59% at 50% 40%);
    clip-path: ellipse(55% 59% at 50% 0%);
 }
.subparent{
    background: rgba(16, 20, 51, 1);
    background-repeat: no-repeat;
    background-color: #00084d ;
    background-size: cover;
    background-position: center;
    height:70vh;
    -webkit-clip-path: ellipse(85% 59% at 50% 40%);
    clip-path:ellipse(85% 59% at 50% 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }
 .subparent h2{
    width: 60%;
    text-align: center;
    color: white;
 }
 .subparent p{
    width: 55%;
    text-align: center;
    color: white;
 }
 .subparent h4{
    text-align: center;
    color: rgba(26, 90, 220, 1);
 }

 .subparent .partnerscontainer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
 }
 .subparent .partnerscontainer .partneritems{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 25%;
 }
 .subparent .partnerscontainer .partneritems .img{
    display: flex;
    height: 85px;
    width: 85px;
    background:blueviolet;
    border-radius: 50%;
 }
 .subparent .partnerscontainer .partneritems p{
    width: 100%;
 }

 @media (max-width: 775px) {
   .subparent{
      height: max-content;
      padding-bottom: 10vh;
   }
   .subparent .partnerscontainer{
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }
   .subparent .partnerscontainer .partneritems{
      width: 80%;
   }
 }